@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  color: #373737;

  font-family: 'Open Sans', sans-serif;
}
/* .outline {
  border: 1px solid #000;
} */
ul,
li {
  margin: 0;
  padding: 0;
}
.header-section-bg {
  margin: 0 auto;
  max-width: 1440px;
  /* min-height: 720px; */
  background-image: url('/img/Group.png');
  background-size: cover;
}
.header-nav {
  margin: 0 auto;
  max-width: 970px;
  display: flex;
  height: 110px;
  align-items: center;
  flex-wrap: wrap;
  /* justify-content: center; */
}
.header-nav_logo {
  width: 100%;
  display: block;
  flex-basis: 250px;
}
.menu {
  margin-left: auto;
  justify-content: flex-end;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 640px;
}
.menu li {
  margin-left: 20px;
}
.menu li a {
  display: block;
  color: #526671;
  padding: 5px;
  font-size: 15px;
  text-decoration: none;
  border: 1px solid transparent;
  word-wrap: none;
}
.menu li a:hover {
  border: 1px solid #064766;
}
.menu li:last-child {
  margin-left: 100px;
}
.header-title {
  display: flex;
  align-items: center;
  max-width: 970px;
  margin: 0 auto;
  min-height: 600px;
}
.header-title_flex {
  display: flex;
  flex-wrap: wrap;
}
.header-title_h1 {
  color: #064766;
  font-size: 45px;
  flex-basis: 650px;
}
.header-title_h1 span {
  color: #526671;
}
.header-title_p {
  color: #373737;
  flex-basis: 470px;
}

.header-title_buttons {
  width: 100%;
  color: #526671;
}
.btn {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  width: 150px;
  padding: 10px 30px;
  font-size: 15px;
  color: #526671;
  border: 1px solid transparent;
  border: 2px solid transparent;
}
.btn--active {
  /* border: 1px solid #064766; */
  border: 2px solid #064766;

  color: #064766;
}
.btn:hover {
  border: 1px solid #064766;

  color: #064766;
}
/* гланвый блок особенносит */
.features-section {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 1785px;
  background-color: #e4e1e1;
}

.features-flex {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 970px;
  min-height: 400px;
}

.featuresr_h1 {
  color: #064766;
  font-size: 36px;
}
/*  конец главно блока особеносит */

/*   общие стили для блоков особеннсти  */
.features_p {
  font-size: 16px;
  color: #373737;
}
.features-wrap {
  margin: 0px auto;
  max-width: 970px;
}
.features-flex--bg {
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin: 0 -50px;
  background: #ffffff;
  min-height: 400px;
}
.features_title {
  /* padding: 0 30px; */
  /* max-width: 1030px;

border: 1px solid #000; */
}
.features_img--pl {
  padding-left: 100px;
}
.features_img--pr {
  padding-right: 100px;
}
.features_h2 {
  max-width: 600px;
  font-size: 24px;
  color: #22769f;
}
.call-section-bg {
  margin: 0 auto;
  max-width: 1440px;
  /* min-height: 480px; */
  background-image: url('/img/Rectangle 5.png');
  background-size: cover;
}
.call-flex {
  margin: 0 auto;
  max-width: 970px;

  min-height: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.call-flex-allbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 200px;
}
.call-flex__h1 {
  text-align: center;
}
.call-flex__buttons {
  margin: 0 auto;
}
.call-flex__btn--active {
  border: 1px solid #064766;
}

.parnter-section {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 1200px;
  background: #ffffff;
}
.features-flex-parnter {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 970px;
  min-height: 500px;
}

.features-flex-parnte-items {
  display: flex;
  align-items: center;
  margin: 0 -15px;
  min-height: 300px;
}

.parnte-items-h2 {
  color: #064766;
  font-size: 24px;
  position: relative;
  padding-left: 10px;
}

.parnte-items-h2::before {
  width: 35px;
  height: 35px;
  position: absolute;
  display: block;
  content: '';
  right: 100%;
  background-image: url('img/Partnering.png');
  background-size: cover;
  line-height: 24px;
}
.features_title1 {
  width: calc(100% / 2 - 30px);
  padding: 10px;
  min-height: 300px;
  margin: 15px;
  padding-left: 50px;
  background-color: #dfd6d6;
}
.kontakt-section {
  margin: 0 auto;
  max-width: 1440px;

  background-color: #dfd6d6;
}
.features-flex-kontakt {
  display: flex;

  align-items: center;
  margin: 0 -30px;
  min-height: 750px;
}
.features_title2 {
  width: calc(100% / 2 - 30px);
  min-height: 400px;
  margin: 15px;
  padding: 10px;
}
.features_title3 {
  width: calc(100% / 2 - 30px);
  background: #ffffff;
  min-height: 500px;
  margin: 15px;
  padding: 15px;
}
.form input {
  border: none;
  /* border-bottom: 1px solid #000; */
}
.form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.form label {
  border-bottom: 1px solid #000;
  width: calc(50% -10px);
  margin: 3px;
  text-align: left;
}
.form input[type='submit'] {
  text-transform: uppercase;
  text-align: left;
  background: rgb(246, 245, 243);
  color: #064766;
  font-size: 14px;
  padding: 0 10px;
  border: 1px solid rgb(58, 57, 57);
}
label[for='email'] {
  width: 90%;
}
label[for='textarea'] {
  width: 90%;
}
label[for='Senden'] {
  margin-left: auto;
}

textarea {
  border: none;
}
.footer {
  margin: 0 auto;

  max-width: 1440px;
  background: #ffffff;
}

.footer-flex {
  margin: 0 auto;
  max-width: 970px;
  min-height: 110px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.copirate {
  font-size: 14px;
  flex-basis: 250px;
  color: #526671;
}
.footer-menu {
  margin-left: auto;
  justify-content: flex-end;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 600px;
}
.footer-menu li {
  margin-left: 10px;
}
.footer-menu li a {
  display: block;
  color: #526671;
  padding: 5px;
  font-size: 14px;
  text-decoration: none;
  border: 1px solid transparent;
  word-wrap: none;
}
.footer-menu li a:hover {
  border: 1px solid #064766;
}
